@using Negocio.Entidades
@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <div class="alert alert-danger" role="alert">
        @ViewBag.erro
    </div>
    <hr>
    <a href="/clientes" class="btn btn-primary">Voltar</a>
</div>
